<%
  content_for :title, "Students | Admin | Tech University"
  content_for :admin_title, "Dashboard  >  Students"
%>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title ">Students</h4>
        <p class="card-category"> List of this semester students</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-success">
              <th>
                ID
              </th>
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Registration
              </th>
              <th>
                Major
              </th>
              <th style="text-align: center;">
                Courses
              </th>
            </thead>
            <tbody>
              <% @students.each do |student| %>
              <tr>
                <td>
                  <%= student.id %>
                </td>
                <td>
                  <%= student.name %>
                </td>
                <td>
                  <%= student.email %>
                </td>
                <td>
                  <%= student.created_at.to_formatted_s(:long) %>
                </td>
                <td class="text-success">
                  <%= student.major.titleize %>
                </td>
                <td style="text-align: center;">
                  <%= student.courses.count %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




