<header>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#">Log in</a></li>
    <li><a href="#">Log out</a></li>
    <li class="divider"></li>
    <li><a href="#">Sign up</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#">Log in</a></li>
    <li><a href="#">Log out</a></li>
    <li class="divider"></li>
    <li><a href="#">Sign up</a></li>
  </ul>

  <nav>
    <div class="container">
      <div class="nav-wrapper">

        <%= link_to 'Tech University',root_path, class: 'brand-logo right' %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style="font-size: 225%;">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'Courses', root_path %></li>
          <li><%= link_to 'Enroll', about_path %></li>
           <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul class="sidenav" id="mobile-demo">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Courses', root_path %></li>
          <li><a href="#">Enroll</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

      </div>
    </div>
  </nav>

</header>
